<%
    # RNB, A VIM COLORSCHEME TEMPLATE
    # Author:        Romain Lafourcade (https://github.com/romainl)
    # Canonical URL: https://gist.github.com/romainl/5cd2f4ec222805f49eca

    # This template is designed to help vimmers create their own colorschemes
    # without much effort.
    #
    # You will need Ruby to generate your colorscheme but Ruby knowledge is
    # not needed at all.
    #
    # The process is divided in four steps:
    #   1. start by editing your colorscheme's information,
    #   2. define your colors,
    #   3. define your highlight groups and links,
    #   4. and generate your colorscheme.

    # Step 1: information
    #
    # Make sure the name of your colorscheme is unique and attractive.
    # The description should fit in a single line with no linefeed.
    # 'background' can be "light" or "dark".
    information = {
        author:      "Fabian Neuschmidt",
        email:       "fabian@neuschmidt.de",
        name:        "kingfisher",
        description: "A minimal teal colorscheme for (neo)vim",
        background:  "dark",
        webpage:     "http://www.example.com"
    }

    # Step 2: colors
    #
    # black = [       give each color a distinctive name
    #   "#000000",    hexadecimal color used in GVim/MacVim
    #   0,            integer between 0 and 255 used by terminals supporting 256 colors
    #   "black"       color name used by less capable color terminals, can be "darkred",
    #                 "red", "darkgreen", "green", "darkyellow", "yellow", "darkblue",
    #                 "blue", "darkmagenta", "magenta", "black", "darkgrey", "grey",
    #                 "white"
    # ]
    #
    # If your colors are defined correctly, the resulting colorscheme is guaranteed
    # to work in GVim (Windows/Linux), MacVim, and any properly set up terminal emulator.
    #
    # The colors below are the first 16 colors of the xterm palette. They
    # are only here as an example, though. You can get rid of them, I won't be mad.

    base         = ["#d9e6e9", 188, "white"]
    dark1        = ["#cedbde", 188, "white"]
    dark2        = ["#c1ccce", 152, "white"]
    dark3        = ["#a7b6ba", 145, "white"]
    dark4        = ["#65737e", 66, "grey"]
    light1       = ["#4f6166", 59, "grey"] 
    light2       = ["#344246", 59, "darkgrey"]
    light3       = ["#1b2f34", 17, "darkgrey"]
    light4       = ["#0d1a1e", 16, "black"]
    red          = ["#bf4130", 131, "darkred"]
    green        = ["#2fbd55", 35, "darkgreen"]
    yellow       = ["#dbaa37", 179, "darkyellow"]
    blue         = ["#3354cc", 62, "darkblue"]
    magenta      = ["#a935d4", 134, "darkmagenta"]
    cyan         = ["#2d98be", 31, "darkcyan"]
    brown        = ["#b57026", 130, "darkred"]
    lightred     = ["#dd4837", 167, "red"]
    lightgreen   = ["#35db5f", 77, "green"]
    lightyellow  = ["#f9c13e", 215, "yellow"]
    lightblue    = ["#3a61ea", 62, "blue"]
    lightmagenta = ["#bf3cf2", 135, "magenta"]
    lightcyan    = ["#34b2d1", 74, "cyan"]

    # Step 3: highlights
    #
    # You can define highlight groups like this:
    #
    #   [ "Normal",       name of the highlight group
    #     white,          the color used for background color, or use "NONE", "fg" or "bg"
    #     darkgray,       the color used for foreground color, or use "NONE", "fg" or "bg"
    #     "NONE"          style, can be "bold", "underline", "reverse", "italic",
    #                     "standout", "NONE" or "undercurl"
    #   ]
    #
    # The sample above tells Vim to render normal text in dark gray against a white
    # background, without any styling.
    #
    # or link an highlight group to another:
    #
    #   [ "Title", "Normal" ]
    #
    # In GUI Vim, there is an additional color for the undercurl used to
    # highlight spelling mistakes:
    #
    #   [ "SpellBad",     name of the highlight group
    #     "NONE",         the color used for background color, or use "NONE", "fg" or "bg"
    #     red,            the color used for foreground color, or use "NONE", "fg" or "bg"
    #     "undercurl",    style
    #     red             color used for the undercurl
    #   ]
    #
    # The sample above tells Vim to render badly spelled words in red against the current
    # background, with a red undercurl.
    #
    # You can add any custom highlight group to the standard list below but you shouldn't
    # remove any if you want a working colorscheme.
    highlights = [

        # UI
        [ "Cursor", red, light2, "NONE" ],
        [ "CursorLine", dark1, "NONE", "NONE" ],
        [ "CursorColumn", dark1, "NONE", "NONE" ],
        [ "ColorColumn", "NONE", red, "NONE" ],
        [ "StatusLine", dark1, light1, "bold" ],
        [ "StatusLineNC", dark1, dark4, "NONE" ],
        [ "StatusLineTerm", dark1, light1, "bold" ],
        [ "StatusLineTermNC", dark1, dark4, "NONE" ],
        [ "LineNr", base, dark3, "NONE" ],
        [ "CursorLineNr", dark1, dark4, "bold" ],
        [ "VertSplit", base, dark3, "NONE" ],
        [ "TabLine", dark1, dark4, "NONE" ],
        [ "TabLineFill", dark1, dark4, "NONE" ],
        [ "TabLineSel", dark1, light1, "bold" ],
        [ "Title", "NONE", dark4, "NONE" ],
        [ "Pmenu", dark1, light1, "NONE" ],
        [ "PmenuSbar", dark2, dark2, "NONE" ],
        [ "PmenuSel", cyan, light4, "NONE" ],
        [ "PmenuThumb", dark4, dark4, "NONE" ],
        [ "Visual", light1, base, "NONE" ],
        [ "VisualNOS", dark4, base, "NONE" ],
        [ "WildMenu", cyan, light4, "NONE" ],
        [ "SignColumn", dark1, yellow, "NONE" ],
        [ "ErrorMsg", base, red, "NONE" ],
        [ "ModeMsg", base, dark4, "bold" ],
        [ "MoreMsg", base, light2, "bold" ],
        [ "Question", base, light2, "bold" ],
        [ "WarningMsg", base, red, "NONE" ],
        [ "CocErrorSign", dark1, red, "NONE"],
        [ "CocWarningSign", dark1, yellow, "NONE"],
        [ "CocInfoSign", dark1, light2, "NONE"],
        [ "CocHintSign", dark1, blue, "NONE"],

        # statusline
        [ "User1", cyan, light4, "NONE" ],
        [ "User2", dark3, light2, "NONE" ],
        [ "User3", dark1, dark3, "NONE" ],
        [ "User4", dark1, light1, "NONE" ],
        [ "User5", dark3, cyan, "NONE" ],

        # code
        [ "Normal", base, light2, "NONE" ],
        [ "NonText", base, blue, "NONE" ],
        [ "SpecialKey", "NONE", dark4, "NONE" ],
        [ "Comment", "NONE", dark4, "italic" ],
        [ "Constant", "NONE", light4, "NONE" ],
        [ "Number", "Constant" ],
        [ "String", "NONE", cyan, "NONE" ],
        [ "Special", "NONE", light1, "NONE" ],
        [ "Identifier", "NONE", light4, "NONE" ],
        [ "PreProc", "NONE", light2, "bold" ],
        [ "Statement", "NONE", light2, "bold" ],
        [ "Type", "NONE", light2, "bold" ],
        [ "Error", "NONE", red, "NONE" ],
        [ "Todo", dark1, lightyellow, "NONE" ],
        [ "MatchParen", dark3, "NONE", "NONE" ],
        [ "Underlined", "NONE", green, "underline" ],
        [ "DiffAdd", dark1, green, "bold" ],
        [ "DiffChange", dark1, "NONE", "NONE" ],
        [ "DiffDelete", dark1, red, "bold" ],
        [ "DiffText", dark1, yellow, "bold" ],
        [ "IncSearch", cyan, light4, "NONE" ],
        [ "Search", dark3, light4, "NONE" ],
        [ "FoldColumn", base, dark3, "NONE" ],
        [ "Folded", dark1, dark4, "NONE" ],

        # other
        [ "Ignore", "NONE", blue, "NONE" ],
        [ "Directory", "NONE", cyan, "NONE" ],
        [ "SpellBad", "NONE", "NONE", "underline", red ],
        [ "SpellCap", "NONE", "NONE", "underline", blue ],
        [ "SpellLocal", "NONE", "NONE", "underline", magenta ],
        [ "SpellRare", "NONE", "NONE", "underline", cyan ],
        [ "QuickFixLine", dark2, light4, "NONE" ],

        # python
        [ "pythonEscape", "NONE", brown, "NONE" ],
        [ "pythonDocstring", "Comment" ],
        [ "pythonAs", "Statement" ],

        # markdown
        [ "markdownCodeDelimiter", "String" ],
        [ "markdownCode", "String"],
        [ "markdownHeadingDelimiter", "Statement"],
        [ "markdownH1", "Statement"],
        [ "markdownH2", "Statement"],
        [ "markdownH3", "Statement"],
        [ "markdownH4", "Statement"],
        [ "markdownH5", "Statement"],
        [ "markdownH6", "Statement"],
        [ "markdownCodeDelimiter", "String" ],
        [ "markdownCode", "String"],
        [ "markdownHeadingDelimiter", "Statement"],
        [ "markdownH1", "Statement"],
        [ "markdownH2", "Statement"],
        [ "markdownH3", "Statement"],
        [ "markdownH4", "Statement"],
        [ "markdownH5", "Statement"],
        [ "markdownH6", "Statement"],
        [ "markdownLinkText", "Underlined"],
        [ "markdownLinkTextDelimiter", "Underlined"],
        [ "markdownLinkDelimiter", "Underlined"],
        [ "markdownUrl", "Underlined"],
        [ "VimwikiHeaderChar", "Statement"],
        [ "VimwikiHeader1", "Statement"],
        [ "VimwikiHeader2", "Statement"],
        [ "VimwikiHeader3", "Statement"],
        [ "VimwikiHeader4", "Statement"],
        [ "VimwikiHeader5", "Statement"],
        [ "VimwikiHeader6", "Statement"],
        [ "VimwikiCodeChar", "Sting"],
        [ "VimwikiCode", "String"],
        [ "VimwikiPre", "String"],
        [ "VimwikiListTodo", "Statement"],

        # haskell
        [ "hsCharacter", "String"],
        [ "hsConSym", "NONE", light1, "NONE"],
        [ "hsVarSym", "NONE", light1, "NONE"],
        [ "ConId", "NONE", "NONE", "italic"]
    ]

    # Define the color palette used by :terminal when in GUI Vim
    # or in TUI Vim when 'termguicolors' is enabled. If this list
    # is empty or if it doesn't contain exactly 16 items, the corresponding
    # Vim variable won't be set.
    #
    # The expected values are colors defined in step 2.
    terminal_ansi_colors = [
        base,
        red,
        green,
        yellow,
        blue,
        magenta,
        cyan,
        light2,
        dark2,
        lightred,
        lightgreen,
        lightyellow,
        lightblue,
        lightmagenta,
        lightcyan,
        light4
    ]

    # Step 4: generation
    #
    # From a separate shell:
    #
    #     $ erb -T - bar.erb > bar.vim
    #
    # From Vim:
    #
    #     :!erb -T - % > %<.vim

    # These online resources can help you design your colorscheme:
    #
    #   * http://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg
    #         the xterm palette
    #   * http://whatcolor.herokuapp.com/
    #         play with hexadecimal colors right in the address bar (currently down)
    #   * http://color.hailpixel.com/
    #         similar concept, fuzzier implementation
    #   * http://colourco.de/
    #         similar concept, fancier implementation
    #   * http://www.colr.org/
    #         extract a palette from an image
    #   * http://colores.manugarri.com/
    #         search for 'word', get images and color palettes
    #   * http://www.colourlovers.com/palettes
    #         user-created palettes
    #   * http://www.perbang.dk/color+scheme/
    #         a no-nonsense colorscheme generator
    #   * https://color.adobe.com/
    #         Adobe's fancy colorscheme generator
    #   * http://paletton.com/
    #         The classic 'Color Scheme Designer', rebranded
    #   * http://vrl.cs.brown.edu/color
    #         A very smart palette generator
    #   * https://cmcenroe.me/2018/04/03/colour-scheme.html
    #         "I Made My Own Colour Scheme and You Can Too!"

    # A few general advices:
    #
    #   * The Windows console is limited to the 16 so-called "ANSI" colors but it has
    #     a few of them interverted which makes numbers impractical. Use color names
    #     instead of numbers: :help cterm-colors
    #   * The Windows console (yeah…) doesn't do italics, underlines or bolded text;
    #     it is limited to normal and reverse. Keep that in mind if you want
    #     your colorscheme to be usable in as many environments as possible by as many
    #     people as possible.
    #   * All of the terminal emulators in use these days allow their users to
    #     change the 16 so-called "ANSI" colors. It is also possible on some platforms
    #     to change some or all of the 256 colors in the xterm palette. Don't take
    #     anything for granted.
    #   * When used against a light background, strong colors work better than muted
    #     ones. Light or dark doesn't really matters. Also, it is harder to discriminate
    #     between two similar colors on a light background.
    #   * Both strong and muted colors work well against a dark background. It is also
    #     easier to work with similar colors, but dark colors don't work at all.
    #   * Use as many text samples as possible. String-heavy languages may look completely
    #     different than keyword-heavy ones. This can have an impact on the usability
    #     of your colorscheme.
    #   * Most terminal emulators and terminal multiplexers currently in use on unix-like
    #     systems support 256 colors but they almost always default to a '$TERM' that tells
    #     Vim otherwise. Your users will need to make sure their terminal emulator/multiplexer
    #     is correctly set up if they want to enjoy the best possible experience.

    # Many thanks to Barry Arthur (https://github.com/dahu) for the original idea.

    # You don't need to edit anything beyond this line.
-%>
" <%= information[:name] %>.vim -- Vim color scheme.
" Author:      <%= information[:author] %> (<%= information[:email] %>)
" Webpage:     <%= information[:webpage] %>
" Description: <%= information[:description] %>

hi clear

if exists("syntax_on")
  syntax reset
endif

let colors_name = "<%= information[:name].downcase %>"

if ($TERM =~ '256' || &t_Co >= 256) || has("gui_running")
<% for highlight in highlights -%>
<% if highlight.length == 4 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %>
<% if highlight[0] == "Normal" -%>
<%= '' %>
    set background=<%= information[:background] %>
<%= '' %>
<% end -%>
<% elsif highlight.length > 4 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %> guisp=<%= highlight[4].kind_of?(String) ? highlight[4] : highlight[4][0] %>
<% end -%>
<% end -%>

elseif &t_Co == 8 || $TERM !~# '^linux' || &t_Co == 16
    set t_Co=16
<%= '' %>
<% for highlight in highlights -%>
<% if highlight.length > 2 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][2] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][2] %> cterm=<%= highlight[3] %>
<% if highlight[0] == "Normal" -%>
<%= '' %>
    set background=<%= information[:background] %>
<%= '' %>
<% end -%>
<% end -%>
<% end -%>
endif
<% links = highlights.select do |highlight| -%>
<% highlight.length == 2 -%>
<% end -%>
<% if links.length > 0 -%>
<%= '' %>
<% for link in links -%>
hi link <%= link[0] %> <%= link[1] %>
<% end -%>
<% end -%>
<% if terminal_ansi_colors.length == 16 -%>
<%= '' %>
let g:terminal_ansi_colors = [
<% for color in terminal_ansi_colors -%>
        \ '<%= color[0] %>',
<% end -%>
        \ ]
<% end -%>

" Generated with RNB (https://gist.github.com/romainl/5cd2f4ec222805f49eca)
